body {
    font-family: 'MedievalSharp', cursive;
}

h1 {
    text-align: center;
}

#container {
    display: flex;
    flex-direction: column;
}

.field {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 100px;
    text-align: left;
    display: flex;
    flex-direction: row;
    align-items: left;
}

.inputBox {
    position: absolute;
    left: 200px;
}

.buttonContainer {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    bottom: 50px;
}

.button {
    margin: 0 20px;
    padding: 0 20px;
}